### Database Client

### Set up the client

#### Task 3: Establish database connection

To establish a connection between Python and the database, the following steps below were taken.

#### Step 1: Install mysql-connector

This step involves installing the Python mysql-connector API which will be used to create the connection between Python and the database.

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.0.32-py2.py3-none-any.whl (381 kB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/dataceum/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

#### Step 2: Import mysql.connector

After the mysql-connector API is installed, we then import it into the Jupyter Notebook and give it an alias of **connector**

In [5]:
import mysql.connector as connector

#### Step 3: Verify database connection

To verify that the mysql-connector API was successfully installed and imported, we created a connection instance and passed in our database credentials as arguments and then run the command. since there was no error thrown, the connection to the database was deemed successful.

In [10]:
#creating an instance of the connector module
#after the database operations, we obfuscated the database username and password from the connection string
connection = connector.connect(user = "****"
                              password = "****",
                              host = "localhost",
                              db="littlelemondb")

### Add query functions

#### Task 1: Connect to and interact with database

This step is similar to **Step 3** above so we will skip it. But we will instantiate a **cursor** object from the connector module.

In [11]:
#creating the cursor object
cursor = connection.cursor()

#### Task 2: Query database

In this step, we will query the database to show all tables in the database.

In [19]:
#MySQL query to show all tables in the database
show_tables_query = """SHOW TABLES;"""

#calling the execute method of the cursor object to execute the MySQL query
cursor.execute(show_tables_query)

In [20]:
#returning the query results into a variable (results) and printing them out
results = cursor.fetchall()
print(results)

[('Bookings',), ('customer_order_view',), ('Customers',), ('Employees',), ('menu_quantity_view',), ('MenuItems',), ('Menus',), ('Orders',), ('orders_view',)]

#### Task 3: Query the database with JOIN

Little Lemon wants to get the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. To do this, we will write a MySQL query to join the appropriate database tables to extract the appropriate customer and orders data.

In [25]:
#MySQL query to join appropriate tables to extract the required data
get_customer_orders = """SELECT CONCAT(c.FirstName, " ", c.LastName) AS "Customer",
                                        c.ContactNumber AS "Phone Number",
                                        c.Email AS "Email",
                                        ROUND((o.BillAmount * o.Quantity), 2) AS "Total Cost"
                        FROM Customers c
                        INNER JOIN Bookings b ON c.CustomerID = b.CustomerID
                        INNER JOIN Orders o ON b.BookingID = o.BookingID
                        WHERE ROUND((o.BillAmount * o.Quantity), 2) > 60;"""

#executing the query with the execute method of the cursor object
cursor.execute(get_customer_orders)

In [26]:
#get the column names and print them out
cols = cursor.column_names
print(cols)

#returning the query results into a variable (join_results) and printing them out
join_results = cursor.fetchall()
print(join_results)

('Customer', 'Phone Number', 'Email', 'Total Cost')
[('Anna Iversen', '555-666-777', 'anna@email.com', 172), ('Anna Iversen', '555-666-777', 'anna@email.com', 344)]

**Assumptions made**: We assume that the total cost of an order is calculated by multiplying the order amount (**BillAmount**) by the quantity (**Quantity**).

Thus, `Total Cost = BillAmount * Quantity`

We then rounded the result up to 2 decimal places (assuming, again, that the data types of both variables are decimal).

#### Close database connection

In [28]:
#after running all queries, we close the database connection
print("Closing database connection...")
connection.close()
print("Database connection closed!")

Closing database connection...
Database connection closed!